<h1>{{title}}</h1>
<p>{{productPageText}}</p>
<!--Add a new product link -->
<a href="/products/add">Add a New Product</a>

<table class="table table-striped table-hover">
    <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        {{#each products}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.quantity}}</td>
            </tr>
        {{/each}}
    </thead>
</table>